/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


.navbar-form {
  padding-right: 23px;
}
.searchinput {
    width: 200px;
}
.searchclear {
    position:absolute;
    right:13px;
    top:0;
    bottom:0;
    height:14px;
    margin:auto;
    font-size:14px;
    cursor:pointer;
    color:#ccc;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: auto;
    overflow-y: auto; 
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    width: 600px;
    height: 100%;
}

#sidebar-top {
    background-color: white;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    content: "Grid View";
    font-size: 12px;
    height: 50%;
    overflow: auto;
}

.about {
    display:inline-block;
    position: relative;
    top: -8px;
    left: -8px;
    height: 30px;
    padding: 5px;
    
    border-style: solid;
    border-color: #DDDDDD;
    border-width: 0px 1px 1px 0px;
    
    background-color: #eee;
    border-radius: 0px 0px 4px;
    color: #888;
}

.vertical-separator {
    height: 8px;
    background-color: black;
}

#sidebar-bottom {
    padding-top:14px;
    height: 43%;
}

#sidebar-bottom-left {
    display: inline-block;
    background-color: white;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    content: "Variable Keywords";
    font-size: 12px;
    width: 375px;
    overflow: auto;
    height: 100%;
    padding: 8px;
}

#sidebar-bottom-right {
    display: inline-block;
    background-color: white;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    content: "Document Keywords";
    font-size: 12px;
    width: 180px;
    height: 100%;
    padding: 8px;
    overflow: auto;
}

/*
 * Main content
 */

.main {
  padding: 20px;
  margin-left: 600px;
}

.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}


/*
 * Other vis-spec9fic stuff
 */

/* Data grid */

#grid-view {
    margin-bottom: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#grid-view a:hover{
    text-decoration: none;
    cursor: help;
}



table#grid-view .rotate {
    white-space: nowrap;
    overflow: hidden;
}

table#grid-view .rotate > div {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    width: 19px;
}


table#grid-view td, table th {
    border: 1px solid #ccc;
}

table#grid-view td {
    text-align: center;
    font-size: 7pt;
    cursor: pointer;
}

table#grid-view  .positive{
    background-color: #DFF0D8;
    color: #468847;
}

table#grid-view  .negative{
    background-color: #F9F2F4;
    color: #C7254E;
}

table#grid-view tbody td:first-of-type{
    font-size: 7.5pt;
}

table#grid-view tr:hover td:first-of-type{
    background-color: #eee;
}

table#grid-view .positive:hover{
    background-color: #468847;
    color: #DFF0D8;
}

table#grid-view .negative:hover{
    background-color: #C7254E;
    color: #F9F2F4;
}

table#grid-view thead tr{
    /*TODO: Make header fixed;*/
    /*position:fixed;
    top: 200px;*/
    background-color: white;
    height: 130px;
}