/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


.navbar-form {
  padding-right: 23px;
}
.searchinput {
    width: 200px;
}
.searchclear {
    position:absolute;
    right:13px;
    top:0;
    bottom:0;
    height:14px;
    margin:auto;
    font-size:14px;
    cursor:pointer;
    color:#ccc;
}

.nav-tabs {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.unselectable{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: auto;
    overflow-y: auto; 
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    width: 600px;
    height: 100%;
}

#sidebar-top {
    background-color: white;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    content: "Grid View";
    font-size: 12px;
    height: 50%;
    overflow-x: hidden;
    overflow-y: auto;
}

.about {
    display:inline-block;
    position: relative;
    top: -8px;
    left: -8px;
    height: 30px;
    padding: 5px;
    
    border-style: solid;
    border-color: #DDDDDD;
    border-width: 0px 1px 1px 0px;
    
    background-color: #eee;
    border-radius: 0px 0px 4px;
    color: #888;

    cursor: default;
}

.sidebar-separator {
    top: 0;
    height: 8px;
    width: 560px;
    position:relative;
    cursor: row-resize;
    z-index: 1020;
}

.sidebar-separator .handle{
    position:relative;
    top: 0px;
    left: 290px;
    width: 20px;
    margin: 3px;
    height: 5px;
    background-color: #888;
    border-radius: 2px;
}

#sidebar-bottom {
    height: 42%;
}

#sidebar-bottom-left {
    display: inline-block;
    background-color: white;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    content: "Variable details";
    font-size: 12px;
    width: 375px;
    overflow: auto;
    height: 100%;
    padding: 8px;
}

#sidebar-bottom-right {
    display: inline-block;
    background-color: white;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    content: "Document keywords";
    font-size: 12px;
    width: 180px;
    height: 100%;
    padding: 8px;
    overflow: auto;
}

/*
 * Main content
 */

.main {
  padding: 20px;
  margin-left: 600px;
}

.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}


/*
 * Other vis-spec9fic stuff
 */


/*
 * Classes
 */

.positive {
    background-color: #DFF0D8;
    color: #468847;
}

.negative {
    background-color: #F9F2F4;
    color: #C7254E;
}

/* Data grid */
#sidebar-top #expandtable, #sidebar-top #tablecontainer 
{
    height:100%;
    margin: 0;
    padding: 0;
    border: none;
    overflow: hidden;
}

#sidebar-top a:hover{
    text-decoration: none;
    cursor: help;
}

#sidebar-top .rotate {
    white-space: nowrap;
    overflow: hidden;
}

#sidebar-top .rotate > div {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    margin-top: 40%;
}

#sidebar-top .cellwidth_id .rotate > div {
    margin-top: 45%;
}

#sidebar-top #tablecontainer 
{
    width: 100%;
    margin: 0 auto;
}

#sidebar-top #expandtable
{
    margin-top: 80px;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    border-bottom: 0;
    background-color: #eee;
    margin: 0 auto;
}

#sidebar-top .breakline { clear:both;}

#sidebar-top .divrow
{

}

#sidebar-top .divcell { float:left; border: 1px solid #ccc; /*box-sizing: border-box; height: 100%;*/}
#sidebar-top #topbar  { height: 80px; overflow: hidden; display: block;}

#sidebar-top .colname { 
    float:left; 
    border: 1px solid #e5e5e5; 
    height: 100%;
    font-weight: bold;
}

#sidebar-top .cellwidth_id { 
    width: 9%; 
    background-color: white; 
    cursor: default!important; 
}

#sidebar-top .cellwidth_var { width: 6.5%; }

#sidebar-top .divcell {
    text-align: center;
    font-size: 8pt;
    cursor: pointer;
    padding-top: 4px;
    padding-bottom: 4px;
}


#sidebar-top .positive:hover {
    background-color: #468847;
    color: #DFF0D8;
}

#sidebar-top .negative:hover {
    background-color: #C7254E;
    color: #F9F2F4;
}

#sidebar-top .divrow:hover .divcell:first-of-type{
    background-color: #eee;
}

/*
* Document View
*/

.report{
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 10px 0px 10px 0px;
    padding: 0;
    font-size: 10pt; 
}

.report .info{
    border-bottom: 1px solid #ddd;
    height: 33px;
    padding: 4px;
    background-color: #eee;
}

.report pre{
    border: 0;
    background-color: white;
}

/*
.report .file-data .line-highlight {
    border-left: 3ex solid #eee;
    position: relative;
}
 
.report .file-data .line-highlight pre {
    counter-reset: linenumbers;
}*/
 
/*.report .data pre div:before {
    color: #aaa;
    content: counter(linenumbers);
    counter-increment: linenumbers;
    left: -3ex;
    position: absolute;
    text-align: right;
    width: 2.5ex;
}*/