<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <title>EMR VisWeb</title>

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/app.css"/>

  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>

<body class="ng-cloak" ng-controller="MainCtrl">

  <div ng-show="appDisabled" id="coverall">
  </div>
  
  <div ng-show="appLoading" id="appLoading" class="alert alert-warning appNotice">
    <strong>Loading!</strong> Please wait.
  </div>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  
  <header class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
      <a class="navbar-brand visible-xs">EMR VisWeb</a>
    </div>
    <nav class="hidden-xs">
      <ul class="nav navbar-nav">
        <a href="#top" role="button" class="navbar-brand">
          EMR VisWeb
        </a>
        <li><a class="dropdown-toggle" href="#/">DATASET <i class="glyphicon glyphicon-chevron-down"></i></a></li>
        <li><a class="dropdown-toggle" href="#/">MODEL <i class="glyphicon glyphicon-chevron-down"></i></a></li>
      </ul>
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <span class="add-on">Doc #</span>
          <input class="form-control" type="search" ng-model="searchQuery" /><span id="searchclear" class="searchclear glyphicon glyphicon-remove-circle" ng-click="searchQuery = ''"></span>
        </div>
      </form>
    </nav>
  </header>

<!-- Main container starts here. -->

  <div class="container-fluid">
      <div class="row">
        <div class="sidebar">
          <div id="sidebar-resize-indicator"></div>
          <div id="sidebar-top" class="unselectable">
            <div id="tablecontainer">
              <div id="topbar">
                <div tooltip-placement="right" tooltip-animation="false" tooltip="document identifier" class="colname cellwidth_id">
                  <div class="progress">
                  </div>
                  <a class="rotate"><div>doc #</div></a>
                </div>
                <div class="colname cellwidth_var" ng-repeat="var in variables" tooltip="{{variableData[var]['percPositive']}}% {{classificationName['positive']}}" tooltip-placement="{{$index > 6 ? 'left' : 'right'}}">
                  <div class="progress">
                    <div class="progress-bar positive" style="width: {{variableData[var]['percPositive']}}%"></div>
                    <div class="progress-bar negative" style="width: {{variableData[var]['percNegative']}}%"></div>
                  </div>
                  <a class="rotate"><div>{{var}}</div></a>
                </div>
              </div>
              <div class="sidebar-separator breakline" horizontal-splitter>
                <div class="handle"></div>
              </div>
              <div id="expandtable">
                <div class="divrow ng-cloak" ng-repeat="doc in gridData | filter: { id: searchQuery }">
                  <div class="divcell cellwidth_id">{{doc.id}}</div>
                  <div ng-repeat="var in variables" class="divcell cellwidth_var {{styleGridCell(doc[var].classification, doc[var].confidence)}} custom-tooltip-bottom" ng-click="updateGrid(var, $parent.$index)" ng-class="{selected: $parent.$index==activeDocIndex && var==activeVariable}" data-custom-tooltip="{{doc[var].confidence}}">
                    {{classificationName[ doc[var].classification ]}}
                  </div>
                </div>
              </div>
            </div>
          </div>  
          
          <div class="sidebar-separator" horizontal-splitter>
            <div class="handle"></div>
          </div>

          <div id="sidebar-bottom">
            
            <div id="sidebar-bottom-left">
              <div class="about unselectable">Variable details: <strong>{{activeVariable}}</strong></div>
              <div class="content">
                <div id="keywords">
                  <h6>{{classificationName["positive"]}} indicators</h6>
                  <p ng-if="!variableData" class="empty-list">None</p>
                  <ol>
                    <li ng-repeat="keyword in variableData[activeVariable].topPositive" class="positive" style="width:{{keyword.weight}}%;" >{{keyword.term}}&nbsp;<span class="d3-tip">({{keyword.weight/100}})</span></li>
                  </ol>

                  <h6>{{classificationName["negative"]}} indicators</h6>
                  <p ng-if="!variableData" class="empty-list">None</p>
                  <ol>
                    <li ng-repeat="keyword in variableData[activeVariable].topNegative" class="negative" style="width:{{keyword.weight}}%;">{{keyword.term}}&nbsp;<span class="d3-tip">({{keyword.weight/100}})</span></li>
                  </ol>
                </div>
                <div id="distribution">
                  <h6>Distribution</h6>
                  <p ng-if="!variableData" class="empty-list">None</p>
                  <d3-piechart data='pieData'></d3-piechart>
                </div>
              </div>
            </div>

            <div id="sidebar-bottom-right">
              <div class="about unselectable">Report: <strong>#{{gridData[activeDocIndex].id}}</strong></div>
              
              <div class="content">
                <h6>{{classificationName["positive"]}} indicators</h6>
                <p ng-if="!gridData" class="empty-list">None</p>
                <ol>
                  <li ng-repeat="keyword in gridData[activeDocIndex][activeVariable].topPositive"  class="positive" style="width:{{keyword.weight}}%;">{{keyword.term}}&nbsp;<span class="d3-tip">({{keyword.weight/100}})</span></li>
                </ol>

                <h6>{{classificationName["negative"]}} indicators</h6>
                <p ng-if="!gridData" class="empty-list">None</p>
                <ol>
                  <li ng-repeat="keyword in gridData[activeDocIndex][activeVariable].topNegative" class="negative" style="width:{{keyword.weight}}%;">{{keyword.term}}&nbsp;<span class="d3-tip">({{keyword.weight/100}})</span></li>
                </ol>
              </div>

            </div>
          
          </div>
        </div>
        <div class="main">
          <div>
            <div ng-if="reportExists && tabs.docView" id="reportFeedback" class="alert alert-warning">
              <span ng-if="appInfo">
                {{appInfo}}
              </span>
              <span ng-if="!appInfo">
                <span ng-if="feedbackText"><em>"{{feedbackText|truncate:20}}"</em> indicates <strong>{{activeVariable}}</strong> to be: <a ng-click="addFeedbackText(feedbackText, 'positive')">{{classificationName['positive']}}</a> | <a ng-click="addFeedbackText(feedbackText, 'negative')">{{classificationName['negative']}}</a></span>
                <span ng-if="!feedbackText" ><strong>{{activeVariable}}</strong> is marked as <strong>{{classificationName[ gridData[activeDocIndex][activeVariable].classification ] | lowercase}}</strong> for this report: <a ng-click="addFeedbackDoc(true)">Accept</a> | <a ng-click="addFeedbackDoc(false)">Change</a></span>
              </span>
            </div>
            <tabset>
              <tab active="tabs.docView" heading="Document View">
                <div ng-mouseup="setFeedbackText()" ng-if="reportExists" id="emr-report" class="report">
                  <div class="info">
                    <i class="glyphicon glyphicon-list-alt"></i>&nbsp;
                    <a tooltip-placement="bottom" tooltip-animation="false" tooltip="docs/{{gridData[activeDocIndex].id}}/report.txt">
                      <strong class="file-name js-selectable-text">Report: #{{gridData[activeDocIndex].id}}</strong>
                    </a>
                    <a class="btn btn-xs btn-default pull-right" ng-href="docs/{{gridData[activeDocIndex].id}}/report.txt" target="_blank"><strong>View Raw</strong></a>
                  </div>
                  <pre><highlighted-report data='reportText'></highlighted-report></pre>
                </div>
                <div ng-mouseup="setFeedbackText()" ng-if="pathologyExists" id="emr-pathology" class="report">
                  <div class="info">
                    <i class="glyphicon glyphicon-list-alt"></i>&nbsp;
                    <span href="#" tooltip-placement="bottom" tooltip-animation="false" tooltip="docs/{{gridData[activeDocIndex].id}}/pathology.txt"> 
                      <strong class="file-name js-selectable-text">Pathology: #{{gridData[activeDocIndex].id}}</strong>
                    </span>
                    <a class="btn btn-xs btn-default pull-right" ng-href="docs/{{gridData[activeDocIndex].id}}/pathology.txt" target="_blank"><strong>View Raw</strong></a>
                  </div>
                  <pre><highlighted-report data='pathologyText'></highlighted-report></pre>
                </div>
                <!-- div id="pathology-report" class>
                </div> -->
              </tab>
              <tab heading="WordTree View">
                <h4>Keyword Search</h4>
                <p>[wordtree]</p>
              </tab>
              <tab>
                <tab-heading>
                  Feedback Review &nbsp;<span ng-if="feedbackList.length > 0" class="badge alert-info pull-right"> {{feedbackList.length}} </span>
                </tab-heading>
                <h4>Feedback List</h4>
                <div id="feedbackList">
                  <alert ng-repeat="feedback in feedbackList" type="default" close="removeFeedback($index)">
                    <strong>{{$index + 1}}.</strong>
                    <span ng-if="feedback.kind == 0">
                      #{{feedback.property}} should have <strong>{{feedback.variable}}</strong> marked as <strong>{{classificationName[feedback.classification] | lowercase}}</strong>.
                    </span>
                    <span ng-if="feedback.kind == 1">
                      "<em>{{feedback.property}}</em>" indicates <strong>{{feedback.variable}}</strong> to be <strong>{{classificationName[feedback.classification] | lowercase}}</strong>.
                    </span>
                  </alert>
                </div>
              </tab>
              <tab select="alertMe()">
                <tab-heading>
                  <i class="glyphicon glyphicon-refresh"></i> Re-Train
                </tab-heading>
                <h4>Training results</h4>
              </tab>
            </tabset>
          </div>

      </div>
    </div>
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/d3/d3.min.js"></script>
  <script src="js/app.js"></script>
  <!-- <script src="js/services.js"></script> -->
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/report-highlight.js"></script>
  <script src="js/jquery-routines.js"></script>
</body>
</html>
  